<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ company }}</h6>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ location }} {{ zipcode }} • {{ type }}
    </h6>
    <p class="card-text">
      {{ requirements }}
    </p>
    <a href="#" class="card-link">Apply</a>
  </div>
  <div class="card-footer text-muted">
    {{ date }}
  </div>
</div>
