<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center p-3">
      <div class="col-md-4">
        <div class="input-group">
          <label class="input-group-text" for="searchText">What</label>
          <input
            type="text"
            class="form-control"
            placeholder="job title, keywords, or company"
            aria-label="Search text"
            aria-describedby="searchText"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="searchText"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <label class="input-group-text" for="searchLocation">Where</label>
          <input
            type="text"
            class="form-control"
            placeholder="Townsville, USA"
            aria-label="Search location"
            aria-describedby="searchLocation"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="searchLocation"
          >
            <i class="bi bi-geo-alt"></i>
          </button>
        </div>
      </div>
      <div class="col-md-auto">
        <button type="button" class="btn btn-primary fw-bold">Find jobs</button>
      </div>
      <div class="col-md-auto" *ngIf="_router.url == '/listings'">
        <button type="button" class="btn btn-text text-secondary">
          Advanced Search
        </button>
      </div>
    </div>
  </div>
  <surely-advanced-search
    *ngIf="_router.url == '/listings'"
  ></surely-advanced-search>
</div>
