<footer class="border-top">
  <div class="container-fluid p-3">
    <ul class="nav justify-content-start">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Hiring Lab</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Career Advice</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Browse Jobs</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Browse Companies</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Salaries</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Indeed Events</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Find Certifications</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Work at Indeed</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Countries</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Help Center</a>
      </li>
    </ul>
    <ul class="nav justify-content-start">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">© 2021 Indeed</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black"
          >Do Not Sell My Personal Information</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Accessibility at Indeed</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Privacy Center</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Cookies</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Privacy</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-black">Terms</a>
      </li>
    </ul>
  </div>
</footer>
