<div class="container-fluid bg-light p-5">
  <footer class="text-center">
    <h4>Let Employers Find You</h4>
    <a href="#" class="btn btn-primary fw-bold">Upload Your Resume</a>
  </footer>
</div>
