nav
  height: 50px
  font-size: 0.875rem

  .nav-link:hover, .active
    border-bottom: solid 3px #2557a7 !important
    padding-bottom: 4px
    margin-bottom: -2px

.text-primary
  color: #2557a7 !important