<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid bg-white border-bottom">
    <a class="navbar-brand" href="#"
      ><img src="assets/logo.svg" alt="indeed logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-white" id="navbarNavAltMarkup">
      <div class="d-flex justify-self-start navbar-nav me-auto">
        <a class="nav-link text-black active" aria-current="page" href="#"
          >Find jobs</a
        >
        <a class="nav-link text-black" href="#">Company reviews</a>
        <a class="nav-link text-black" href="#">Find salaries</a>
      </div>
      <div class="d-flex justify-self-end navbar-nav">
        <a class="nav-link text-black" aria-current="page" href="#"
          >Upload your resume</a
        >
        <a class="nav-link text-primary fw-bold" href="#">Sign in</a>
        <a class="nav-link text-black" href="#">Employers / Post Job</a>
      </div>
    </div>
  </div>
</nav>
