<nav class="navbar navbar-expand-lg navbar-light p-1 border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""
      ><img src="assets/logo.svg" alt="indeed logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="d-flex justify-self-start navbar-nav me-auto">
        <a class="nav-link text-black active py-2" routerLink="/listings"
          >Find jobs</a
        >
        <a class="nav-link text-black py-2" routerLink="/reviews"
          >Company reviews</a
        >
        <a class="nav-link text-black py-2" routerLink="/salaries"
          >Find salaries</a
        >
        <a class="nav-link text-black py-2" routerLink="/certifications"
          >Find certifications</a
        >
      </div>
      <a class="d-flex justify-self-end navbar-nav" *ngIf="myInfo == undefined" routerLink="/auth">Login</a>
      <div
        class="d-flex justify-self-end navbar-nav"
        *ngIf="myInfo != undefined"
      >
        <button type="button" class="btn btn-link position-relative">
          <i class="bi bi-chat-left-text-fill fs-4"></i>
          <span
            class="
              position-absolute
              top-50
              start-100
              translate-middle
              badge
              rounded-pill
              bg-danger
            "
          >
            {{ myInfo.Messages }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>

        <button type="button" class="btn btn-link position-relative">
          <i class="bi bi-bell-fill fs-4"></i>
          <span
            class="
              position-absolute
              top-50
              start-100
              translate-middle
              badge
              rounded-pill
              bg-danger
            "
          >
            {{ myInfo.Notifications }}
            <span class="visually-hidden">unread notifications</span>
          </span>
        </button>
        <div class="dropdown">
          <button
            type="button"
            class="btn btn-link position-relative dropdown-toggle"
            type="button"
            id="userInfo"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-fill fs-4"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="userInfo">
            <li class="p-3">
              <h6>{{ myInfo.Email }}</h6>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-file-earmark-text-fill"></i> Profile</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-heart-fill"></i> My jobs</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-star-fill"></i> My reviews</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-envelope-fill"></i> Email preferences</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-search"></i> Search preferences</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-gear-fill"></i> Settings</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-question-circle-fill"></i> Help center</a
              >
            </li>
          </ul>
        </div>
        <a class="btn btn-text text-black d-flex align-items-center" href="#"
          >Employers / Post Job</a
        >
      </div>
    </div>
  </div>
</nav>
