<div class="container-fluid p-3">
  <div class="row g-3">
    <div class="col-md-8">
      <img
        src="assets/certifications.png"
        alt="certifications logo"
        class="img-fluid my-4"
      />
      <h2>Find top schools and certifications in your area</h2>
      <p>
        Discover where to get the certification you need, for the job you want.
      </p>
      <surely-cert-searchbar></surely-cert-searchbar>
    </div>
    <div class="col-md-4">
      <img
        src="assets/certifications-hero.png"
        alt="certifications image"
        class="img-fluid"
      />
    </div>
  </div>
</div>
<div class="container-fluid bg-light p-3">
  <div class="container-fluid bg-white p-3 my-3">
    <h3>Most Reviewed Certifications</h3>
  </div>
  <div class="container-fluid bg-white p-3 my-3">
    <h3>Most Reviewed Schools</h3>
  </div>
</div>
