<div class="container">
  <form>
    <div class="row">
      <div class="col-sm-2" *ngFor="let option of options">
        <select class="form-select btn-light">
          <option
            *ngFor="let detail of option"
            [attr.selected]="detail.selected ? '' : null"
            [attr.disabled]="detail.disabled ? '' : null"
            value="{{ detail.value }}"
          >
            {{ detail.title }}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>
