<surely-searchbar></surely-searchbar>
<div class="container p-3">
  <div class="row">
    <div class="col">
      <div class="cards" *ngFor="let listing of myListings">
        <surely-listing-card
          title="{{ listing.title }}"
          company="{{ listing.company }}"
          location="{{ listing.location }}"
          zipcode="{{ listing.zipcode }}"
          type="{{ listing.type }}"
          requirements="{{ listing.requirements }}"
          date="{{ listing.date }}"
        ></surely-listing-card>
      </div>
    </div>
    <div class="col">
      <!-- insert details for each card here -->
    </div>
  </div>
</div>
