.form-select
  background-color: #e4e2e0
  width: auto
  &:hover
    background-color: #595959
    color: white
.form-control
  border: 1px solid #949494
  border-right: none
.input-group-text
  background: transparent
  border: 1px solid #949494
  border-right: none
  font-weight: bold
.btn-outline-secondary
  border: 1px solid #949494
  border-left: none
.btn-primary
  background-color: #2557a7
  border-color: #2557a7