<div class="container-fluid">
  <form class="row g-3">
    <div class="col-md-5">
      <label for="inputWhat" class="form-label fw-bold fs-5">what</label>
      <br />
      <label for="inputWhere" class="form-label fs-6"
        >school, certification, or license</label
      >
      <div class="input-group">
        <input type="text" class="form-control" id="inputWhat" />

        <button
          class="btn btn-outline-secondary"
          type="button"
          id="searchLocation"
        >
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
    <div class="col-md-5">
      <label for="inputWhere" class="form-label fw-bold fs-5">where</label>
      <br />

      <label for="inputWhere" class="form-label fs-6">city, state</label>
      <div class="input-group">
        <input type="text" class="form-control" id="inputWhere" />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="searchLocation"
        >
          <i class="bi bi-geo-alt"></i>
        </button>
      </div>
    </div>
    <div class="col-md-2 d-flex align-items-end">
      <button type="button" class="btn btn-primary fw-bold">
        Find schools
      </button>
    </div>
  </form>
</div>
