<div class="container-sm my-5">
  <h1>Find great places to work</h1>
  <p>Get access to millions of company reviews</p>
  <div class="container my-5">
    <form class="row g-3">
      <div class="col-md-4">
        <label for="inputWhat" class="form-label fw-bold fs-5"
          >Company name or job title</label
        >
        <div class="input-group">
          <input type="text" class="form-control" id="inputWhat" />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="searchLocation"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <label for="inputWhere" class="form-label fw-bold fs-5"
          >City, state, or zip (optional)</label
        >

        <div class="input-group">
          <input type="text" class="form-control" id="inputWhere" />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="searchLocation"
          >
            <i class="bi bi-geo-alt"></i>
          </button>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-end">
        <button type="button" class="btn btn-primary fw-bold">
          Find Companies
        </button>
      </div>
    </form>
    <p class="my-5">
      <a href="#">Do you want to search for salaries?</a>
    </p>
  </div>
  <h2>Popular companies</h2>
  <div class="text-center bg-light my-5">
    <h4>Rate your recent company</h4>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h6>Popular companies for other job titles</h6>
      <ul>
        <li>Accountant</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h6>Popular companies in other locations</h6>
      <ul>
        <li>New York, NY</li>
      </ul>
    </div>
  </div>
</div>
